body{
    background-color: #424874;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #D6E5E3;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


#main-header{
    color: #D6E5E3;
    padding: 20px;
    text-align: center;
    font-size: 40px;
}

#task-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 30%;
    background-color: #a6b1e1;
    color: #212529;
    border-radius: 10px;
    padding: 20px;
    word-wrap: break-word;
}

h1{
    color: #ffffff;
}

#summary-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 40%;
    background-color: #d6e5e3;
    color: #212529;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

#summary{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    width: 80%;
    height: 90%;
    background-color: #d6e5e3;
    color: #212529;
    border-radius: 10px;
    padding: 20px;
}

#summary-btn{
    background-color: #424874;
    color: #D6E5E3;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

#summary-btn:hover{
    background-color: #212529;
    color: #D6E5E3;
}

#task-text{
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    border: black 1px solid;
    border-radius: 5px;
    padding: 10px;
}